<div class="row justify-content-around">
    <div class="card text-white bg-primary mb-3" style="max-width: 15rem;">
        <div class="card-header bg-primary">Header</div>
        <div class="card-body">
        <h5 class="card-title">Primary card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card text-white bg-yellow mb-3" style="max-width: 15rem;">
        <div class="card-header bg-yellow">Header</div>
        <div class="card-body">
        <h5 class="card-title">Secondary card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card text-white bg-success mb-3" style="max-width: 15rem;">
        <div class="card-header bg-success">Header</div>
        <div class="card-body">
        <h5 class="card-title">Success card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card text-white bg-danger mb-3" style="max-width: 15rem;">
        <div class="card-header bg-danger">Header</div>
        <div class="card-body">
        <h5 class="card-title">Danger card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>
