<!-- Main content -->
<div class="main-content">
  <!-- Header -->
  <div class="header bg-gradient-purple py-4 py-lg-5 ">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-xl-5 col-lg-6 col-md-8 px-5">
            <h1 class="text-white">My Toko</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <!-- Page content -->
  <div class="container mt--8 pb-2">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary border-0 mb-0">
          <img class="logo m-auto" src="https://www.seekpng.com/png/detail/72-729756_how-to-add-a-new-user-to-your.png" alt="">
          <div class="card-body px-lg-5 py-lg-3">
            <div class="text-center text-muted">
              <h3>Login to your Account</h3>
            </div>
          <app-login-form></app-login-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




