.FooterWrapper {
  padding: 20px !important;
}

.FooterContent {
  font-size: 14px !important;
  text-align: center !important;
  color: #aaaaaa !important;
}

.FooterContentLink {
  color: #4a61df !important;
  padding: 13px 0 !important;
  font-weight: bold !important;
}
