<div class="table-responsive mt-4">
    <table class="table align-items-center">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="sort text-white text-default" data-sort="no">No</th>
                <th scope="col" class="sort text-white" data-sort="name">Name</th>
                <th scope="col" class="sort text-white" data-sort="stock">Stock</th>
                <th scope="col" class="sort text-white" data-sort="purchase">Purchase Price</th>
                <th scope="col" class="sort text-white" data-sort="selling">Selling Price</th>
                <th scope="col" class="sort text-white" data-sort="active">Active</th>
                <th scope="col" class="sort text-white" data-sort="product">Product</th>
            </tr>
        </thead>
        <tbody class="list">
            <tr>
                <td class="no">
                    1
                </td>
                <td class="name">
                    Rizka Indah Puspita
                </td>
                <td class="stock">
                  12
              </td> <td class="purchase">
                10000
            </td>
                <td class="selling">
                    20000
                </td>
                <td class="active">
                  active
              </td>
              <td class="product">
                Indomie
            </td>
            </tr>
        </tbody>
    </table>
</div>

