<div>
  <form [formGroup]="createUserForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="example-text-input" class="form-control-label">Name</label>
      <input
        class="form-control"
        type="text"
        id="example-text-input"
        placeholder="Name"
        formControlName="name"
        required
      />
      <small
        *ngIf="
          !createUserForm.get('name')!.valid &&
          createUserForm.get('name')!.touched
        "
        class="help-block text-danger"
        >User name is required</small
      >
    </div>
    <div class="form-group">
      <label for="example-email-input" class="form-control-label"
        >Email Address</label
      >
      <input
        class="form-control"
        type="email"
        id="example-email-input"
        placeholder="Email"
        required
        email
        formControlName="email"
      />
      <small
        *ngIf="
          !createUserForm.get('email')!.valid &&
          createUserForm.get('email')!.touched
        "
        class="help-block text-danger"
        >Please Fiil a Valid Email</small
      >
    </div>
    <div class="form-group">
      <label for="example-password-input" class="form-control-label"
        >Password</label
      >
      <input
        class="form-control"
        type="password"
        id="example-password-input"
        placeholder="Password"
        required
        minlength="6"
        formControlName="password"
      />
      <small
        *ngIf="
          !createUserForm.get('password')!.valid &&
          createUserForm.get('password')!.touched
        "
        class="help-block text-danger"
        >Password Must be 6-10 character</small
      >
    </div>
    <div class="form-group">
      <label for="example-role-input" class="form-control-label">Role</label>
      <select
        class="form-control"
        data-toggle="select"
        title="Simple select"
        data-live-search="true"
        data-live-search-placeholder="Search ..."
        formControlName="role"
      >
        <option *ngFor="let role of roles" [ngValue]="role">{{ role }}</option>
      </select>
    </div>
    <div>
      <button
        [disabled]="!createUserForm.valid"
        type="submit"
        class="btn btn-outline-primary"
      >
        Create
      </button>
    </div>
  </form>
</div>
