<div class="table-responsive mt-4">
    <table class="table align-items-center">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="sort text-white text-default" data-sort="no">No</th>
                <th scope="col" class="sort text-white" data-sort="name">Name</th>
                <th scope="col" class="sort text-white" data-sort="action">Action</th>
            </tr>
        </thead>
        <tbody class="list">
            <tr>
                <td class="no">
                    1
                </td>
                <td class="name">
                    Rizka Indah Puspita
                </td>
                <td class="role">
                    <button class="btn btn-primary"><i class="fa fa-edit"> Edit</i></button>
                    <button class="btn btn-danger"><i class="fa fa-trash"> Delete</i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
