<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <input
      type="email"
      class="form-control form-control-md"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Email"
      name="email"
      required
      email
      formControlName="email"
    />
    <small
      *ngIf="!loginForm.get('email')!.valid && loginForm.get('email')!.touched"
      class="help-block text-danger"
      >Please Fiil a Valid Email</small
    >
  </div>
  <div class="form-group">
    <input
      type="password"
      class="form-control form-control-md"
      id="exampleInputPassword1"
      placeholder="Password"
      name="password"
      required
      minlength="6"
      formControlName="password"
    />
    <small
      *ngIf="
        !loginForm.get('password')!.valid && loginForm.get('password')!.touched
      "
      class="help-block text-danger"
      >Password Must be 6-10 character</small
    >
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
    <div class="d-flex justify-content-between">
      <label for="exampleCheck1">Remember Me</label>
      <a href="forgot.html">Forgot Password?</a>
    </div>
  </div>
  <button
    [disabled]="!loginForm.valid"
    type="submit"
    class="btn btn-lg btn-primary col-12 col-md-12 Button"
  >
    Login
  </button>
</form>
