.Jumbotron {
    background-image: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190625/ourmid/pngtree-corporate-geometric-atmosphere-office-propaganda-ppt-background-image_259728.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}