<div class="container mt-3">
    <div>
        <h2>Data Product</h2>
    </div>
    <div class="mt-4">
        <button class="btn btn-success" [routerLink]="'/admin/brand'" routerLinkActive="router-link-active"><i class="fa fa-plus"> Add Brand</i></button>
        <button class="btn btn-warning" [routerLink]="'/admin/uom'" routerLinkActive="router-link-active"><i class="fa fa-plus"> Add UOM</i></button>
    </div>
    <app-product-form></app-product-form>
    <app-product-list></app-product-list>
</div>